div.widget[name="scp-mis-dashboard"]{
	padding: 1em;
}
div.widget[name="scp-mis-dashboard"] h2, div.widget[name="scp-mis-dashboard"] h3 {
	margin-top: 2em;
}
div.widget[name="scp-mis-dashboard"] .statsFilter {
	text-align: right;
	padding-bottom: 0.5em;
	border-bottom: thin solid #AAA;
}
div.widget[name="scp-mis-dashboard"] .statsFilter label:first-child {
	float: left;
}
div.widget[name="scp-mis-dashboard"] .statsSection div {
	display: inline-block;
	vertical-align: middle;
}
div.widget[name="scp-mis-dashboard"] .statsGraph {
	margin-right: 8%;
}
div.widget[name="scp-mis-dashboard"] .statsTable td {
	border-bottom: thin dotted #AAA;
	vertical-align: middle;
}
div.widget[name="scp-mis-dashboard"] .statsTable td:first-child {
	padding: 0.75em 3em 0.75em 0.5em;
}
div.widget[name="scp-mis-dashboard"] .statsTable td:nth-child(2) {
	font-size: 1.75em;
	text-align: right;
}
div.widget[name="scp-mis-dashboard"] .statsErrors {
	width: 100%;
	table-layout: fixed;
}
div.widget[name="scp-mis-dashboard"] .statsErrors th {
	text-align: left;
}