*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	min-width: 275px;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #F0F0F0;
	color: #333;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
button{
	background-color: #07AB7A !important;
}
button:hover{
	background-color: #009B6A !important;
}
h2{
	color: #004F37 !important;
}
summary h2{
	display: inline-block;
}

#backgroundText text{
	fill: none;
	stroke: rgba(0, 0, 0, 0.05);
}

header{
	width: 80%;
	margin: auto;
	padding: 1em 0 2em 0;
	background: url('ers-logo.png') no-repeat center left;
}
header li a{
	color: #C40055 !important;
}
@media screen and (max-width: 1000px) {
	header{
		width:98%;
	}
}

#content{
	width: 80%;
	min-height: 340px;
	margin: -8em auto 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 0.25em;
}
@media screen and (max-width: 1000px) {
	#content{
		width:98%;
	}
}
@media screen and (max-width: 600px) {
	#cp-banner{
		zheight: 100px;
	}
}

div.widget>.widget-head{
	display: none;
}
div.widget>.widget-messages{
	overflow: hidden;
	background-color: #A0F0F0;
	color: #333;
	border-radius: 0.25em;
}
div.widget>.widget-messages>div{
	padding: 0.25em 0.5em;
}
div.widget>.widget-messages>div>a{
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('symbol-close.png') no-repeat;
	cursor: pointer;
}
div.widget>.widget-messages>div.error{
	background-color: #F0A0A0;
}
#login-form form{
	width: 46%;
	min-width: 275px;
	display: inline-block;
	vertical-align: top;
	padding: 1%;
}
#login-form h2{
	margin: 0 0 0.5em 0;
	color: #0090D0;
}
#login-form h3{
	font-size: 1.1em;
	margin: 0;
}
#login-form label{
	display: inline-block;
	width: 100%;
	margin-top: 1em;
}
#login-form input{
	display: block;
	width: 90%;
	font-size: 1.5em;
	border: thin solid #aaa;
}
#login-form button{
	float: right;
	margin-top: 1em;
	padding: 0.2em 2em;
	background: #92CE56;
	color: white;
	border: none;
	border-radius: 0.25em;
	font-size: 1.5em;
	cursor: pointer;
}
#login-form button:hover{
	background-color: #82BE46;
}
#login-form-enter{
	margin-bottom: 2em;
}
#login-form-enter button{
	margin-right: 4em;
}
#login-form a{
	float: left;
	margin-top: 1.5em;
	font-size: 0.75em;
	color: inherit;
	text-decoration: none;
}
#login-form a:hover{
	text-decoration: underline;
}
#login-form-reset-text{
	padding: 0.6em 0;
}

footer{
	width: 80%;
	margin: 0.5em auto 1em;
	padding: 0.1em 1em;
	font-size: 0.7em;
	background: #333;
	color: #FFF;
	border-radius: 0.35em;
}
@media screen and (max-width: 1000px) {
	footer{
		width:98%;
	}
}

.broker{
	background: url('cp-banner-broker.jpg') no-repeat center;
}
.register{
	display: inline-block;
}

#content article{
    padding:1em 1em 1em 1em;
}

/* Search page */
#content article[type='quote'][subtype='search'] .search-results li:nth-child(odd) {
	
}
#content article[type='quote'][subtype='search'] .search-results li:before {
	content: attr(calcref);
	margin-right: 2%;
}
#content article[type='quote'][subtype='search'] .search-results li {
	background-image: url('images/calculator-buttons-small.png');
}
#content article[type='quote'][subtype='search'] .search-results li>*{
	display: none;
}
#content article[type='quote'][subtype='search'] .search-results calcSource,
#content article[type='quote'][subtype='search'] .search-results physicalTime,
#content article[type='quote'][subtype='search'] .search-results li span{
	display: inline-block;
	max-width: 12.5%;
	overflow: hidden;
	white-space: nowrap;
}
#content article[type='quote'][subtype='search'] .search-results li span:empty{
	display: none !important;
}
#content article[type='quote'][subtype='search'] .search-results li a{
	display: block;
}

button,a.button,input.button{
	padding: 0.25em 1em;
	border: none;
	border-radius: 0.5em;
	background: rgba(0,0,0,0.25);
	color: rgba(255,255,255,0.9);
	cursor: pointer;
}
a.button:hover{
	border-bottom: none; 
}

.new-square-group{
	display: inline-block;
	padding: 0 0 0 2em;
}
.new-square {
	display: inline-block;
	width: 8.5em;
	overflow: hidden;
	margin: 0 1em 1em 0;
	padding: 5em 1em 0.5em 1em;
	background: #999 no-repeat center 1em;
	color: #FFF;
	border: medium solid rgba(0,0,0,0.3);
	border-radius: 1em;
	text-align: center;
	vertical-align: top;
}
.new-square:hover {
	text-decoration: underline;
	border-color: rgba(0,0,0,0.6);
}

.new-square[type='quote'][subtype='new'] {
	background-image: url('images/plus-light.png');
}