*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	min-width: 275px;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #F0F0F0;
	color: #333;
}
button,a.button,input.button{
	padding: 0.25em 1em;
	border: none;
	border-radius: 0.5em;
	background: rgba(0,0,0,0.25);
	color: rgba(255,255,255,0.9);
	cursor: pointer;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
button{
	background-color: #07AB7A !important;
}
button:hover{
	background-color: #009B6A !important;
}
h2{
	color: #004F37 !important;
}
summary h2{
	display: inline-block;
	cursor: pointer;
}

#backgroundText text{
	fill: none;
	stroke: rgba(0, 0, 0, 0.05);
}

header{
	width: 80%;
	min-width: 330px;
	margin: auto;
	padding: 1em 0 1em 0;
	background: url('ers-logo.png') no-repeat center left;
	text-align: right;
}
header .common-user .user-name{
	min-width: 150px
}
@media screen and (max-width: 1000px) {
	header{
		width:98%;
	}
}

#content{
	width: 80%;
	min-height: 340px;
	margin: -8em auto 0 auto;
	padding: 0 1em;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 0.25em;
}
@media screen and (max-width: 1000px) {
	#content{
		width:98%;
	}
}

div.widget>.widget-head{
	display: none;
}
div.widget>.widget-messages{
	overflow: hidden;
	background-color: #A0F0F0;
	color: #333;
	border-radius: 0.25em;
}
div.widget>.widget-messages>div{
	padding: 0.25em 0.5em;
}
div.widget>.widget-messages>div>a{
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('symbol-close.png') no-repeat;
	cursor: pointer;
}
div.widget>.widget-messages>div.error{
	background-color: #F0A0A0;
}

div.widget[name='quote-forms'] form{
	clear: both;
	padding: 1em;
}
div.widget[name='quote-forms'] .invalid-message{
	background-color: #C40055 !important;
}


footer{
	width: 80%;
	margin: 0.5em auto 1em;
	padding: 0.1em 1em;
	font-size: 0.7em;
	background: #333;
	color: #FFF;
	border-radius: 0.35em;
}
@media screen and (max-width: 1000px) {
	footer{
		width:98%;
	}
}