.scp-internal-users-add {
	min-width: 30em;
	padding: 0 1em 1em;
}
.scp-internal-users-add h3 {
	border-bottom: thin solid;
}
.scp-internal-users-add div.nextField {
	margin: 1em 0;
}
.scp-internal-users-add input[type='text'] {
	width: 100%;
	padding: 0 0.25em;
	font-size: 1.5em;
}
.scp-internal-users-add .error {
	border: 2px red solid;
}
.scp-internal-users-add button.cancel-button {
	margin-left: 22em
}
.scp-internal-users-add button.ok-button {
	font-size: 1.25em;
	vertical-align: bottom;
}