.scp-internal-users-password-change {
	min-width: 30em;
	padding: 0 1em 1em;
}
.scp-internal-users-password-change h3 {
	border-bottom: thin solid;
}
.scp-internal-users-password-change div.confirm {
	margin: 1em 0;
}
.scp-internal-users-password-change input[type='password'] {
	width: 100%;
	padding: 0 0.25em;
	font-size: 1.5em;
}
.scp-internal-users-password-change .error {
	border: 2px red solid;
}
.scp-internal-users-password-change button.cancel-button {
	margin-left: 22em
}
.scp-internal-users-password-change button.ok-button {
	font-size: 1.25em;
	vertical-align: bottom;
}