button{
	background-color: #07AB7A;
}
button:hover{
	background-color: #009B6A;
}
h2{
	color: #004F37;
}
#equity-banner{
	height: 360px;
	background: url('JohnBurke@Flickr.com.jpg') no-repeat center;
	background-size: cover;
}
#equity-banner>h1{
	display: none;
	width: 400px;
	height: 125px;
	margin: 0 0 0 1%;
}
#equity-banner>h1>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	background: url() no-repeat left bottom;
}
#equity-banner h2{
	display: inline-block;
	margin: 0;
	padding: 0 0.5em 0 4em;
	background: rgba(0,0,0,0.65);
	color: rgba(255,255,255,0.9);
	font-weight: normal;
	font-size: 2em;
	border-radius: 0 0.15em 0.15em 0;
}